textarea {
    width: 100%;
    height: 5rem;
    resize: none;
}

.control {
    position: relative;
    display: block;
}

.control__caption {
    margin-bottom: .2rem;
    display: inline-block;
}

.control--agreement {
    cursor: pointer;
}

.footer,
.header {
    color: var(--bs-white);
    background-color: var(--bs-primary);
}

.footer .container {
    min-height: 50px;
}

.header {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.h1 {
    margin-bottom: 0;
    margin-top: 0;
}

.main {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer p {
    margin: 0;
    line-height: 1;
}

.control__textarea {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.control__textarea:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

.error-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    color: var(--bs-white) !important;
    background-color: var(--bs-danger);
}